<header>
  <md-toolbar color="primary">
      <span routerLink=''>Joe Parsley</span>
      <span class="toolbar-spacer"></span>
      <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
  </md-toolbar>
  <md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink=''>Home</button>
    <button md-menu-item routerLink=''>About</button>
    <button md-menu-item routerLink=''>Contact</button>
  </md-menu>
</header>
<router-outlet></router-outlet>
<footer>
  <md-toolbar color="primary">
    <span class="copyRight"> © 2017 Copyright</span>
    <span class="toolbar-spacer"></span>
    <span class="copyRight">Links:</span>
    <button md-button>GitHub</button>
  </md-toolbar>
</footer>
